/* -------  General Styles ------- */
body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
  font-size: 20px;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
  font-size: 20px;
}

img {
  width: 100%;
}

/*style the images separately and text with a class of their own each

/* ---  Groups & Items --- */
.about-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stay-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 100%;
  margin: 10px;
}

.item-ideas {
  width: 48%;
  margin: 10px;
}

.item-double {
  flex: 50%;
  margin: 10px;
}

.text-right {
  text-align: left;
  align-items: center;
}



/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul{
  display: flex;
  padding-left: 0;
  font-size: 25px;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
  padding-top: 20px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


form label {
  display: block;
  font-weight: bold;
  width: 40%;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

.host {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.host-text {
  width: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.host-image {
  width: 50%;
}

/* -------  Media Query ------- */
/*mobile setup*/
@media all and (max-width: 600px) {
header {
  display: flex;
  flex-direction: column;
}

.about-group {
  display: flex;
  flex-direction: column;
}

 header nav {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
  }

  header nav ul {
    display: flex;
    padding-left: 0px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form button {
    width: 100%;
  }

  form label {
    font-size: 20px;
    width: 50%;
  }

  form input, select {
    border: 2px solid gray;
    font-size: 20px;
    border-radius: 5px;
    width: 60%;
    min-width: 60%;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%
  }

  main img {
    width: 100%;
    padding-bottom: 20px;
  }

  .item-ideas {
    width: 100%;
  }
}

.host {
  flex-direction: column;
  
}

.host-text {
  width: 100%;
}

.host-image {
  width: 100%;
}



